
<app-header></app-header>

  <div class="jumbotron-fluid" style="background-image: url(./../../assets/dashboard4.jpeg); background-repeat: no-repeat;">
    <div class="container text-white">
      <br>

  <h2 class="display-4">Restaurants to Buy in Bangalore!</h2><hr><br>

  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="search for a closed restaurants" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-danger" type="button">search</button>
    </div>
  </div>


  <!-- <form> -->
      <!-- <div class="form-group"> -->
        <!-- <label for="exampleInputEmail1">search for a closed restaurants</label> -->
        
        <!-- <input type="text" class="form-control" id="exampleInputEmail1" placeholder="search for a closed restaurants"> -->
        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
      
      <!-- </div> -->
      <!-- <a class="btn btn-warning btn-lg" href="#" role="button">Learn more</a> -->
      <!-- <a class="btn btn-warning my-2 my-sm-0" type="submit">submit</a> -->
      
      <!-- </form> -->
<!-- <br><br> -->
      
  <p class="lead text-light" >The only place you can find a restaurant which you always wanted to be yours</p>
  <hr class="my-4">
  <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->
  
  <br><br><br><br>
</div>  
</div>
<br><br>

<div class="container">

<div class="row">
  <div class="col">
  <h2>New Featured Listings</h2>
  <p>Promenient Restaurants which are shutting down</p>
</div>
</div>
<div class="row">
  <div class="col-sm">
    <div class="card-css">
      <div class="card-body">
        <h4 class="card-title">Barbeque Nation</h4>
        <p class="card-text">Barbeque Nation was founded in 2006 by one of our Promoters. We currently own and operate 138 outlets in India, 5 outlets in UAE, 1 outlet in Malaysia and 1 outlet in Oman. <br>

          <!-- One of the leading casual dining chains in India, Barbeque Nation pioneered the concept of “over the table barbeque” live grills embedded in dining tables – allowing guests to grill their own barbecue’s right at their tables. <br> -->
          
          <!-- Indian cuisine is a natural part of the diet in the markets in which the Barbeque Nation Restaurants operate. We continue to offer new menu options, both vegetarian and non-vegetarian, largely based on Indian cuisine and use seasonal customer preferences to introduce new dishes. We also run popular food festivals at our Barbeque Nation Restaurants, thereby offering our customers a range of Indian and international cuisines.</p> -->
        
<!--            
            <i class="fa fa-cutlery" aria-hidden="true"> <small class="text-muted text-end">North Indian, Seafood, Mughlai</small></i>
             
         
            
            <i class="fa fa-cutlery" aria-hidden="true"> <small class="text-muted text-end">5 Star, Breakfast, Happy Hours, Kids Friendly, Casual Dining</small></i>
             
      
            <i class="fa fa-dollar" aria-hidden="true"> <small class="text-muted text-end">10 Lac - 50 Lac</small></i>
              -->

          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        

      </div>
      <img src="https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/g/q/p529-15773516745e0479fa8a082.jpg?tr=tr:n-large" class="card-img-top" alt="...">
    </div>
    
  </div>
  <div class="col-sm ">
    <div class="card-css">
      <div class="card-body">
        <h4 class="card-title">Byg Brewski Brewing Company</h4>
        <p class="card-text crop-text-2" >Byg Brewski Brewing Company is a microbrewery and is for people who very specific about the fine and superior quality of service. A comfortable and awesome ambiance. <br>

          <!-- One of the leading casual dining chains in India, Barbeque Nation pioneered the concept of “over the table barbeque” live grills embedded in dining tables – allowing guests to grill their own barbecue’s right at their tables. <br> -->
          
          <!-- Indian cuisine is a natural part of the diet in the markets in which the Barbeque Nation Restaurants operate. We continue to offer new menu options, both vegetarian and non-vegetarian, largely based on Indian cuisine and use seasonal customer preferences to introduce new dishes. We also run popular food festivals at our Barbeque Nation Restaurants, thereby offering our customers a range of Indian and international cuisines.</p> -->
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

      </div>
      <img src="https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/e/m/p16948-15370136115b9cf76bf1440.jpg?tr=tr:n-large" class="card-img-top" alt="...">
    </div>
  </div>
  <div class="col-sm">
    <div class="card-css">
      <div class="card-body">
        <h4 class="card-title">Tiger Trail</h4>
        <p class="card-text">Tiger trail showcases a unique ambiance and outdoor seating all surrounded by lush greenery that makes your heart skip a beat. The delicious North Indian, Seafood, and Mughlai.<br>

          <!-- One of the leading casual dining chains in India, Barbeque Nation pioneered the concept of “over the table barbeque” live grills embedded in dining tables – allowing guests to grill their own barbecue’s right at their tables. <br> -->
          
          <!-- Indian cuisine is a natural part of the diet in the markets in which the Barbeque Nation Restaurants operate. We continue to offer new menu options, both vegetarian and non-vegetarian, largely based on Indian cuisine and use seasonal customer preferences to introduce new dishes. We also run popular food festivals at our Barbeque Nation Restaurants, thereby offering our customers a range of Indian and international cuisines.</p> -->
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

      </div>
      <img src="https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/a/u/p1470-1469012483578f5a0326500.jpg?tr=tr:n-large" class="card-img-top" alt="...">
     
    </div>
  </div>
</div>

</div>

<div class="container"><hr color="warning"></div>
<div>
<span class="oi oi-account-logout">a</span>
<span class="oi" data-glyph="account-logout"></span>
</div>



<div class="container">
<h3>Are you a hotelier?</h3>
<p>Click below to register yourself or to explore a talent </p>

<div class="row">

  <div class="col-sm">
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
      <!-- <div class="card-header">Header</div> -->
      <div class="card-body">
        <h5 class="card-title">Chef</h5>
        <p class="card-text">A chef is in charge of the kitchen in restaurants or other places where food is served.</p>
        <button type="button" class="btn btn-outline-warning">Click Here</button>
      </div>
    </div>    
</div>

<div class="col-sm">
  <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
    <!-- <div class="card-header">Header</div> -->
    <div class="card-body">
      <h5 class="card-title">Bartender</h5>
      <p class="card-text">A bartender is someone who mixes and serves drinks to customers.</p>
      <button type="button" class="btn btn-outline-warning">Click Here</button>
    </div>
  </div>    
</div>

<div class="col-sm">
<div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
  <!-- <div class="card-header">Header</div> -->
  <div class="card-body">
    <h5 class="card-title">Floor Manager</h5>
    <p class="card-text">Floor managers supervise the different activities that take place on a restaurant floor</p>
    <button type="button" class="btn btn-outline-warning">Click Here</button>
  </div>
</div>    
</div>




</div>        
<hr color="primary">

